<h1> Fill out the form </h1>
<form action='/result'>
<div class= "form-group">


<label for="intial_string"> Type in a sentence </label>
<input id ="initial_string" name="initial_string" class="form-control" type="text">

<label for="chosen_word"> Type in the word you want to replace  </label>
<input id ="chosen_word" name="chosen_word" class="form-control" type="text">

<label for="replace_word"> Type in the replacement word </label>
<input id ="replace_word" name="replace_word" class="form-control" type="text">

</div>
<button type="submit" class="btn-success">Submit </button>
</form>
